<h3>List of Heroes</h3>
<div *ngIf="deleteHero; else nothingWasDelete">
  <h3>Delete Hero <small class="text-danger"> {{deleteHero}} </small></h3>
</div>

<ng-template #nothingWasDelete>
  <h3>You haven't deleted anything.</h3>
</ng-template>

<button *ngIf="herosName.length > 0"
(click)="removeLastHero()"
class="btn btn-outline-danger">
  Delete last Hero
</button>

<ol class="mt-2 list-group">
  <li *ngFor="let name of herosName" class="list-group-item"> {{name}}</li>
</ol>

<!-- interpolacion es cuando le pones {{}} -->
